@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Inter', sans-serif;
}

body {
  padding-top: 80px;
  padding-left: 235px;

  width: 100vw;
  min-height: 100vh;

  overflow-x: hidden;
  background-color: #F3FEFF;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent !important;
}


::-webkit-scrollbar-thumb {
  background-color: #aaedff;
  border-radius: 8px;
  cursor: pointer;
}


.home__charts__container {
  margin-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  
  display: flex;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap;
}

.home__charts__container .group__charts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.charts_title {
  margin: 10px 0;
  padding: 0 20px;
  padding-left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.charts_title h2 {
  margin-right: 20px;
  display: block;
  min-width: max-content;

  color: #00536a;
}

.charts_title hr {
  width: 100%;
  height: 2px;
  
  border: none;
  border-bottom: 1px dashed #00536a;
}

.choose__date {
  padding: 20px;
  width: 100%;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.choose__date button {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 40px;
  width: 100%;

  outline: none;
  border: none;
  border-radius: 8px;
  background-color: #62ddff;
  color: #fff;

  cursor: pointer;
}

.chart_spans {
  border: 1px solid #000;
}

/*----------- Global ----------*/
input, select, textarea, .btn {
  padding: 5px;

  background-color: #fff;
  outline: none;
  border: 1px solid #85e5ff96;
  border-radius: 6px;
  
  box-shadow: 0 4px 10px #DEE7E8;
  cursor: pointer;
}

input:hover, select:hover, textarea:hover, .btn:hover {
  box-shadow: 0 4px 10px #DEE7E800;
}

input:active, select:active, textarea:active, .btn:active {
  border: 1px solid transparent;
  box-shadow: 0 0 6px #c9c9c9 inset;
}

@import url('./styles/simpleChart.scss');
@import url('./styles/dashboardNavbar.scss');
@import url('./styles/DashboardSidebar.scss');
@import url('./styles/dashboardHeader.scss');
